<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Registrarse</title>
    <link rel="stylesheet" href="/css/styleLogin.css">
  </head>
  <body>
    <section class="form-login">
      <h5>Registrarse</h5>
      <input class="controls" type="text" name="correo" value="" placeholder="Nombre Completo">
      <input class="controls" type="text" name="usuario" value="" placeholder="Correo Electronico">
      <input class="controls" type="password" name="contrasena" value="" placeholder="Contraseña">
      <input class="buttons" type="submit" name="" value="Registrar">
    </section>
  </body>
</html>